#######################################
your free memory today :  {{ ansible_facts.memfree_mb }}  MB
##########################################################
your hostname is : {{ ansible_facts.hostname }} 
#######################################
your cpu core is : {{ ansible_facts.processor_vcpus }} Cores
#####################################################
$  $$  $$$$$
$   $$$   $$$$$
$$    $$$
$$$   $$$$   $$$$
$$$$    $$$$$
  $$    $$$   $$$$$$


your author : Sherif Shaban
